%html
  %head
    %title Consensus Chat
    = javascript_include_tag "application"
    = stylesheet_link_tag "app/application"
    = csrf_meta_tag
    :javascript
      window.user_email = "#{@user.email}"


  %body
    %header#title
      %h1= link_to( "Consencus Chat", "/app")
      %ul
        %li= link_to("Home", "/")
    #wrapper
      #sidebar
        %h3 Meetings
        %ul#channels
        %h3 Users
        %ul#users
        %h3 Options
        %ul#options
          %li{"data-name" => "settings"} Settings
      .vdivide
      #content
        #messages
          %ul.items
          .new
            %textarea
            %button Send
        #settings
          %h2 Channels
          %ul.channels
          %h2 Create Channel
          .createChannel
            %form
              %input{:placeholder => "Channel name", :type => "text"}
                %button.pill New Channel
          %div= link_to "Logout", log_out_path


    = script_template "message"
    = script_template "channels"
    = script_template "edit_channel"